@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

nav {
    padding: 16px 8px;
    background-color: #fff;
    height: calc(36px - 16px);
    max-width: 100%;
    align-items: center;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: space-around;
}

h1 {
    font-weight: 800;
    font-size: 21px;
    color: #0A1222;
}


ul {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 16px;
}   

a {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    color: #0A1222;
    font-size: 12px;
    line-height: 120%;
}

ul li a:hover {
    color: #034BFF;
}

.btn-container {
    height: 100%;
    align-items: center;
    display: flex;
    gap: 16px;
}

.btn-container button {
    width: 120px;
    height: 36px;
    background-color: #034BFF;
    border: none;
    border-radius: 5px;
}
.btn-container button a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-family: "Inter", sans-serif;
}


.hero {
    background-color: #08111D;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.hero-container {
    max-height: 500px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 56px;
}

.hero-container h2 {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 76px;
    line-height: 120%;
    padding: 0;
    margin: 0;
}
.hero-container h2 span {
    padding: 0;
    margin: 0;
    color: #034BFF;
    font-size: 88px;
    line-height: 120%;
}
.hero-container h3 {
    padding: 0;
    margin: 0;
    font-size: 26px;
    color: #fff;
    font-family: "Inter", sans-serif;
}

.hero-container p {
    width: 400px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 120%;
    color: #fff;
}

.hero-container div {
    margin-top: 20px;
    height: 50px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.event-button {
    width: 176px;
    height: 42px;
    border: 1px solid #8eabff;
    border-radius: 5px;
    background: none;
}
.event-button a {
    display: flex;
    justify-content: center;
    gap: 3px;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    align-items: center;
}

.primary-button {
    background-color: #034BFF;
    width: 184px;
    height: 42px;
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 5px;
}

.primary-button a {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 700;
}

.infolist {
    background-color: #fff;
    height: 92px;
    width: 100%;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.row {
    gap: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.infolist span {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.row span {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 26px;
}


.infolist svg{
    color: #034BFF;
}

.seperator > ul {
    display: flex;
}

.campus-container {
    background-color: #F4F7Fc;
    width: 100%;
    height: 282px;
    display: flex;
    justify-content: space-between;
}

.campus-container section {
    margin-top: 50px;
    margin-left: 52px;
    width: 40%;
}

.campus-container h3 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: #034BFF;
}

.campus-container h2 {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 33px;
}

.campus-container p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 15px 0;
}

.campus-container > .gallery {
    position: relative;
    height: 100%;
    width: 60%;
    margin: 0;
}

.gallery img {
    position: absolute;
    border-radius: 10px;
}

.img1 {
    width: 202px;
    height: 185px;
    top: 42px;
    left: 56px;
    transform: rotate(-5deg);
}

.img2 {
    width: 186px;
    height: 163px;
    top: 78px;
    left: 261px;
    transform: rotate(7deg);
}

.img3 {
    top: 26px;
    left: 433px;
    transform: rotate(5deg);
}

.journey-container {
    background-color: #08111D;
    height: 241px;
}

.events-container {
    background-color: green;
    height: 244px;
}

.students-container {
    background-color: cornflowerblue;
    height: 164px;
}

footer {
    background-color: crimson;
    height: 283px;
}